[alias]
	co = checkout
    br = branch
	ci = commit
	st = status
	ls = log --oneline
	ll = log --graph
	l = log --graph --all --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
[author]
	name = Mateo Olaya
[pull]
	ff = only
	rebase = true
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[core]
	editor = code --wait
	excludesfile = /Users/mateo.olaya/.gitignore_global
	compression = 0
[push]
	default = current
[user]
	name = Mateo Olaya
	email = pub.mateo.olaya@gmail.com
[init]
	defaultBranch = develop
